<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/dygraph-combined.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/js/jqtest.js"></script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="high_chart"  style='width: 700px; height: 240px;'></div>
    <div id="chart_div"  style='width: 700px; height: 240px;'></div>
    <div id="weight_chart" style='width: 700px; height: 240px;'></div>
    <div id="dy_chart" style='width: 700px; height: 240px;'></div>
  </body>
</html>